html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html{
    height:100vh;
}
body{
    height:100%
}

#container{
    height:100%;
    display:grid;
    grid-template: 180px 1fr / 250px 1fr;
    font-family: Arial, Helvetica, sans-serif;
}
#sidebar img{
    -webkit-filter:invert(100%);
    filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');
}

/* grid layout */
#header{
    grid-area: 1 / 2 / 2 / 3;
}
#sidebar{
    grid-area: 1 / 1 / 3 / 2;
}
#main-content{
    grid-area: 2 / 2 / 3 / 3;
    background-color: rgb(97, 160, 95);
}

/*Sidebar*/
#sidebar{
    background-color: rgb(165, 28, 170);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    z-index: 2;
}
#sidebar-header{
    display: grid;
    grid-template: 1fr / 1fr 5fr;
    align-items:center;
    margin:15px;
    margin-bottom:30px;
    margin-top:20px;
    grid-gap:15px;
}

.sidebar-wrap{
    display: grid;
    grid-template: repeat(10,1fr)/ 1fr 5fr;
    align-items: center;
    grid-gap:15px;
    margin-left:30px;
}
.sidebar-wrap div{
    padding-left:5px;
}
.sidebar-wrap img{
    max-width:90%;
    max-height:90%;
    padding:5%;
}

/*Header*/
#header{
    display: grid;
    grid-template: 80px 100px / 700px 1fr;
    align-items: center;
    box-shadow: 0px 1px 10px  rgb(137, 138, 145);
    z-index: 1;
}
/*input-wrap*/
#input-wrap{
    display: grid;
    align-items: center;
    grid-template: 1fr / 50px 1fr;
    padding:20px;
}
#input-wrap img{
    max-width:90%;
    max-height:90%;
    padding:5%;
}
#input-wrap input{
    border-radius: 30px;
    border:none;
    background-color: rgb(225, 227, 241);
    height:60%;
    font-size: 20px;
    margin-left:30px;
    padding-left:30px;
}
/*header header*/
#header-header{
    display:flex;
    align-items: center;
    gap:15px;
    justify-content: flex-end;
    margin-right:30px;
    font-size: 22px;
    font-weight: bold;
}
/*profile*/
#profile{
    display:grid;
    grid-template: 1fr / 1fr 5fr;
}
#profile img{
    grid-area: 1/1/3/2;
    margin-left:auto;
    margin-right:15px;
}
#profile div:nth-child(2){
    font-size: 16px;
    font-weight: bold;
}
#profile div:nth-child(3){
    font-size: 24px;
    font-weight: bold;
}
/*button*/

#button{
    display:flex;
    align-items: center;
    gap: 30px;
    justify-content: flex-end;
    margin-right:30px;
}
.button{
    background-color: rgb(165, 28, 170);
    border-radius: 20px;
    color:rgb(255, 255, 255);
    padding:10px 20px 10px 20px;
    font-size: 18px;
    font-weight: bold;
    width: 80px;
    text-align: center;
}

/*main-content*/

#main-content{
    display:grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    background-color: rgb(225, 227, 241);
    grid-gap:20px;
    padding:30px;
}

#main-content>div{
    border:solid 1px black;
}
/* projects */
.projects{
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
}

#content-wrapper{
    flex:1;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    grid-gap:25px;
}
.projects p{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}
.projects>p{
    margin-left:0px;
}
#content-wrapper > div{
    background-color: white;
    border-radius: 10px;
    border-left: solid 10px rgb(243, 192, 25);
    display: grid;
    grid-template: 25px 25px 1fr 25px 25px / 1fr
}

#content-wrapper .heady{
    font-size: 20px;
    font-weight: bold;
}
#content-wrapper .text{
    font-size: 16px; 
    font-weight:100;
    color: rgb(94, 90, 90);
}
.icons{
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}
.icons > img{
    max-width: 30px;
    max-height:30px;
    margin-right:25px;
}